<!DOCTYPE html>

<html lang="pt-BR">
	<head>
      <title>doalivros - Listagem</title>
      <meta charset="utf-8">
      <% include ../common/estilos %>
    </head>
    <body>
      <% include ../common/header %>
            <div class="jumbotron text-center">
              <h1>doalivros</h1>
              <p>Encontre o livro que deseja ler, perto de você</p>
              <form class="form-inline">
                <div class="input-group">
                  <input type="text" class="form-control" size="70" placeholder="Digite o livro que deseja" required>
                  <div class="input-group-btn">
                    <button type="button" class="btn btn-danger">Pesquisar</button>
                  </div>
                </div>
              </form>
            </div>
        <% include ../common/scripts %>
    </body>
    <% include ../common/footer %>
</html>
