/* 
 * Estilo relacionado as páginas de usuario/conta
 */


 /* LOGIN */

 .conta-form {
     padding: 1.5em;

     border-radius: 4px;
     border: 1px solid rgba(0,0,0,0.045);
     background-color: rgba(0,0,0,0.025);
 }

 .conta-form form > *, .conta-form fieldset > * {
     margin: 1em .25em;
 }