<h1>Perfil do usuário</h1>

<p>
    <strong>Apelido:</strong>
    <%= usuario.apelido %>
</p>
<p>
    <strong>Nome:</strong>
    <%= usuario.nome %>
</p>
<p>
    <strong>Email:</strong>
    <%= usuario.email %>
</p>


<a href="/logout">Sair da conta</a>