<nav class="navbar header">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand bold" href="/">doalivros</a>
        </div>
        <ul class="nav navbar-nav">
            <% if (usuario) { %>
                    <li><a href="/livro/novo">Novo Livro</a></li>
                    <li><a href="">Biblioteca</a></li>
                    <li><a href="">Interesses</a></li>
            <% } %>
        </ul>
        <ul class="nav navbar-nav navbar-right">

                <% if (usuario) { %>
                    <li><a href="/conta">@<%= usuario.apelido %></a></li>
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Sair</a></li>
                <% } else { %>
                    <li><a href="/login">
                        <span class="glyphicon glyphicon-log-in"></span> Entrar
                    </a></li>

                    <% } %>


        </ul>
    </div>
</nav>
